.app {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.app__tree {
  flex-shrink: 0;

  &_level_2 {
    margin-left: 25px;
  }
}

.app__placeholder-headline {
  flex-grow: 1;
  text-align: center;
}

// .app__tree-item {
// }

.app__tree-link {
  display: block;
  padding: 7px 0;

  &_active {
    color: blue;
    font-weight: bold;
  }
}
